# __All directories must be readable/writable by whoever runs the script.__

[harvester]
# Absolute path to where to stash problem files for later review
error_dir = 

# Absolute path to download and then read and files tar files
tar_downloads = 

# Absolute path to temporary dir for unpacked tar files
tmp_unpack = 

# Absolute path to final XML files
final_xml_dir = 